$black: #151414;
$white: #ffffff;
$gray-pet: #d0d0d0;
$gray-menu: #BDBBBB;
$gray-800: #57595A;
$gray-100: #F4F6F6;
$brown: #c2b0a4;
$green: #00cf77;
$orange: #ff9200;
$orange-test: #f84f0c;
$blue: #1B2AC9;
$blue-2: #0073F0;

$text-primary: $black;
$background-primary: $gray-100;
$primary: $blue;
$secondary: $blue-2;
$linear-gradient-primary: linear-gradient(271.8deg, $blue -0.56%, $blue-2 100.44%);

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$ff: "Gerbera", $font-family-sans-serif;


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xss: 0,
  xs: 360px,
  sm: 476px,
  md: 768px,
  lg: 992px,
  xl: 1560px
) !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 640px,
  lg: 960px,
  xl: 1290px
) !default;

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns: 12;
$grid-gutter-width: 30px;
