# Node
node_modules
test/results
test/coverage
src/copy/video/video1.mp4
dist/video/video1.mp4

## OS X
.DS_Store
._*
.Spotlight-V100
.Trashes

# idea files
.idea
debug.log

*.sublime-project
*.sublime-workspace

# Generated scss data
src/sass/generated/_svg-sprite.scss
src/sass/mixins/_sprite.scss
/old-markup/
