---
title: Главная страница
---
{% extends "layouts/_layout.html" %}

{% block content %}

  {# data usage example #}
  {% import "data/data.html" as data %}

  {# header #}
  {% include "partials/_header.html" %}

  <div id="fullpage-promo">

    {# promo #}
    {% include "partials/_promo.html" %}

    {# promo-slides #}
    {% include "partials/_promo-slides.html" %}

    <div class="js-section js-section-normal-scroll">

      {# item-group #}
      {% include "partials/_item-group.html" %}

      {# cases #}
      {% include "partials/_cases.html" %}
    </div>

    {# promo-concepts #}
    {% include "partials/_promo-concepts.html" %}

    <div class="js-section js-section-normal-scroll fp-auto-height">

{#      <div class="team-top-pad" aria-hidden="true">#}
{#      </div>#}

      {# team #}
      {% include "partials/_team.html" %}

      {# partners #}
      {% include "partials/_partners.html" %}

      {# contacts #}
      {% include "partials/_contacts.html" %}

      {# footer #}
      {% include "partials/_footer.html" %}
    </div>

  </div>


{% endblock %}
