<!-- BEGIN footer -->
<footer class="footer">
  <div class="container">
    <div class="footer-title">
      Выбор сделанный сегодня <br> определяет наше <span>будущее!</span>
    </div>

    <div class="footer-menu">
      <a href="#" class="footer-menu--item">Решения</a>
      <a href="#" class="footer-menu--item">Продукция</a>
      <a href="#" class="footer-menu--item">Клиентам</a>
      <a href="#" class="footer-menu--item">Компания</a>
      <a href="#" class="footer-menu--item">Концепция</a>
      <a href="#" class="footer-menu--item">Контакты</a>
    </div>

    <div class="footer-bottom">
      <div class="footer-bottom--element">
        © 2021, Пэт-експерт
      </div>
      <div class="footer-bottom--element">
        143300, Московская область, г. Наро-Фоминск, площадь Свободы, 10
      </div>
      <div class="footer-bottom--element">
        +7 (499) 577-00-06
      </div>
      <div class="footer-bottom--element">
        info@petexpert.pro
      </div>
    </div>

    <div class="footer-social">
      <a href="#" class="footer-social--item">
        <img src="./img/soc-1.png" alt="">
      </a>
      <a href="#" class="footer-social--item">
        <img src="./img/soc-2.png" alt="">
      </a>
      <a href="#" class="footer-social--item">
        <img src="./img/soc-3.png" alt="">
      </a>
      <a href="#" class="footer-social--item">
        <img src="./img/soc-4.png" alt="">
      </a>
      <a href="#" class="footer-social--item">
        <img src="./img/soc-5.png" alt="">
      </a>
    </div>


    <div class="footer-under">
      <div class="footer-under--links">
        <a href="#">Политика конфеденциальности</a>
        <a href="#">Файлы cookie</a>
      </div>

      <div class="footer-under--img">
        <img src="./img/awa.png" alt="">
      </div>
    </div>

  </div>
</footer>
<!-- END footer -->
