{% import "partials/_mixins.html" as mixins %}

<!-- START item-group -->
<div class="container">
  <h2 class="h2"><span>Группа товаров</span> для пивоварен и баров:</h2>
</div>
<div class="prod-groups swiper">
  <div class="swiper-wrapper">
    <div class="prod-groups--item swiper-slide">
      <img src="./img/pr1.jpg" alt="">
      <h4>Преформы для бутылей 19 л.</h4>
      <span>арт. 387194</span>
    </div>
    <div class="prod-groups--item swiper-slide">
      <img src="./img/pr2.jpg" alt="">
      <h4>Преформы для бутылей 19 л.</h4>
      <span>арт. 387194</span>
    </div>
    <div class="prod-groups--item swiper-slide">
      <img src="./img/pr3.jpg" alt="">
      <h4>Преформы для бутылей 19 л.</h4>
      <span>арт. 387194</span>
    </div>
    <div class="prod-groups--item swiper-slide">
      <img src="./img/pr4.jpg" alt="">
      <h4>Преформы для бутылей 19 л.</h4>
      <span>арт. 387194</span>
    </div>
    <div class="prod-groups--item swiper-slide">
      <img src="./img/pr5.jpg" alt="">
      <h4>Преформы для бутылей 19 л.</h4>
      <span>арт. 387194</span>
    </div>
    <div class="prod-groups--item swiper-slide">
      <img src="./img/pr3.jpg" alt="">
      <h4>Преформы для бутылей 19 л.</h4>
      <span>арт. 387194</span>
    </div>
    <div class="prod-groups--item swiper-slide">
      <img src="./img/pr2.jpg" alt="">
      <h4>Преформы для бутылей 19 л.</h4>
      <span>арт. 387194</span>
    </div>
    <div class="prod-groups--item swiper-slide">
      <img src="./img/pr1.jpg" alt="">
      <h4>Преформы для бутылей 19 л.</h4>
      <span>арт. 387194</span>
    </div>
  </div>
</div>
<!-- END item-group -->

