{% import "partials/_mixins.html" as mixins %}

<!-- START promo-slides -->

<div class="promo-slides-container">
  <div id="promo-slides-beer" class="promo-slides active">
    <div class="anim-bottle">
      <canvas id="anim-bottle" class="anim-bottle-canvas"></canvas>
    </div>

    <div class="animation-section animation-section--1 js-section">
      <div class="animation-descr">
        <img src="./img/water-i.svg" alt="">
        <span>Решения для воды</span>
      </div>
      <div class="animation-section--wrap">
        <div class="animation-section--text">
          <div class="title big">Пиво</div>
          <div class="descr">Замена металлических кег на ПЭТ</div>
        </div>
      </div>

    </div>
    <div class="animation-section js-section">
      <div class="animation-section--wrap">
        <div class="animation-section--text" style="background-image: url(./img/1.png);">
          <div class="title">Эстетика упаковки</div>
          <div class="content">
            <ul>
              <li>Низкая теплопроводность</li>
              <li>Гарантия герметичности фитинга</li>
              <li>Стерильная среда внутри кега</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="animation-section js-section">
      <div class="animation-section--wrap left">
        <div class="animation-section--text" style="background-image: url(./img/2.png);">
          <div class="title">Выгодная логистика</div>
          <div class="content">
            <ul>
              <li>Отсутствует необходимость возврата тары</li>
              <li>ПЭТ-КЕГ в 16 раз легче металлической</li>
              <li>Фура вмещает на 25% больше</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="animation-section js-section">
      <div class="animation-section--wrap">
        <div class="animation-section--text" style="background-image: url(./img/3.png);">
          <div class="title">Сокращение издержек производства</div>
          <div class="content">
            <ul>
              <li>Разморозка денежных средств заложеных в тару</li>
              <li>Сокращение площади хранения КЕГ</li>
              <li>Отсутствие технического обслуживания и мойки</li>
              <li>Сокращение фонда оплаты труда</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="animation-section">
      <div class="animation-section--wrap left">
        <div class="animation-section--text">
          <div class="title">Оптимизируйте бизнес и расширьте географию сбыта!</div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- END promo-slides -->
