
{% set
  primaryMenu = [
  {
    title: 'Решения',
    id: "side-menu-item-12",
    children: [
      {
        title: 'Пиво'
      },
      {
        title: 'Вода'
      },
      {
        title: 'Сидр'
      },
      {
        title: 'Квас'
      },
      {
        title: 'Вино'
      },
      {
        title: 'Кофе'
      }
    ]
  },
  {
    title: 'Продукция',
    id: "side-menu-item-12",
    children: [
      {
        title: 'PET-кеги'
      },
      {
        title: 'PET-бутыли'
      },
      {
        title: 'Преформы'
      },
      {
        title: 'PET-бутылки'
      },
      {
        title: 'Комплектующие'
      },
      {
        title: 'PET-флаконы'
      }
    ]
  },
  {
    title: 'Клиентам',
    id: "side-menu-item-2",
    children: [
      {
        title: 'Ценообразование'
      },
      {
        title: 'Поставка продукции'
      },
      {
        title: 'Поддержка и сервис'
      },
      {
        title: 'Вопросы и ответы'
      },
      {
        title: 'Документы'
      }
    ]
  },
  {
    title: 'Концепция',
    id: "side-menu-item-3",
    children: [
      {
        title: 'Качество'
      },
      {
        title: 'Безопасность'
      },
      {
        title: 'Доверие'
      }
    ]
  },
  {
    title: 'Компания',
    id: "side-menu-item-4",
    children: [
      {
        title: 'Сертификаты'
      },
      {
        title: 'Оборудование'
      },
      {
        title: 'Новости'
      },
      {
        title: 'Партнеры и отзывы'
      },
      {
        title: 'Наша команда'
      }
    ]
  },
  {
    title: 'Контакты',
    children: false
  }
] %}
