@include font-face("Gerbera", "../fonts/Gerbera");
@include font-face("Gerbera", "../fonts/Gerbera-RegularItalic", normal, italic);
@include font-face("Gerbera", "../fonts/Gerbera-Bold", bold, normal);
@include font-face("Gerbera", "../fonts/Gerbera-BoldItalic", bold, italic);
@include font-face("Gerbera", "../fonts/Gerbera-Black", 800, normal);
@include font-face("Gerbera", "../fonts/Gerbera-BlackItalic", 800, italic);
@include font-face("Gerbera", "../fonts/Gerbera-Heavy", 900, normal);
@include font-face("Gerbera", "../fonts/Gerbera-HeavyItalic", 900, italic);
@include font-face("Gerbera", "../fonts/Gerbera-Medium", 500, normal);
@include font-face("Gerbera", "../fonts/Gerbera-MediumItalic", 500, italic);
@include font-face("Gerbera", "../fonts/Gerbera-Light", 300, normal);
@include font-face("Gerbera", "../fonts/Gerbera-LightItalic", 300, italic);

@mixin gerbera($weight: null, $style: null) {
 font-family: "Gerbera", $font-family-sans-serif;
 font-weight: $weight;
 font-style: $style;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 62.5%;
}

:root {
  --header-height: 154px;
}
body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  overflow-y: visible;
  background: #ffffff;
  color: $text-primary;
  @include gerbera();
}

// Change from `box-sizing: content-box` so that `width` is not affected by `padding` or `border`.
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Base styles start */
//a {
//  color: $text-primary;
//  transition: all 0.4s;
//
//  &:hover {
//    color: $primary;
//  }
//
//  &:active {
//    color: darken($primary, 5%);
//  }
//}

img {
  max-width: 100%;
  height: auto;
  width: auto;
}

/* Base styles end*/

.mobile-nav-trigger {
  display: block;
  cursor: pointer;
  transition: all 0.4s;

  .burger {
    @include burger(20px, 4px, 9px, $black);
  }

  &.active {
    .burger {
      @include burger-to-cross();
    }
  }
}

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.button {
  height: 4.1rem;
  display: inline-flex;
  padding-left: 28px;
  padding-right: 28px;
  text-decoration: none;
  @include tr((background-color));
  border: none;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  background-color: $primary;
  color: $white;
  align-items: center;
  justify-content: center;
  padding-top: 1px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  font-weight: 300;
  font-size: 1.5rem;
  &--theme-primary {
    .button__text, .button__icon {
      position: relative;
      z-index: 1;
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $linear-gradient-primary;
      @include tr((opacity));
    }
    &:hover::before {
      opacity: 0;
    }
  }

  &--rounded {
    border-radius: 888px;
  }

  &:focus, &:hover {
    outline: none;
    text-decoration: none;
    .button__text {
      color: white;
    }
  }

  .text {
    position: relative;
    z-index: 2;
  }
}

.tab-content {
  display: none;
  opacity: 0;
  @include tr((opacity));
}

.tab-content.tab-active {
  display: block;
}

.tab-visible {
  opacity: 1;
}

.position-relative {
  position: relative;
}

.js-section-normal-scroll {
  height: auto !important;
}
